.App {
  width: 100%;
  display: flex;
  justify-content: center;
}

table,
th,
td {
  border: solid 1px black;
}

tr {
  width: 100%;
}

td {
  text-align: center;
  height: 100%;
}

.value-cell {
  display: flex;
  justify-content: center;
}

.value-cell span {
  flex-grow: 1;
  height: 100%;
}

td button {
  display: block;
  width: 100%;
}

.orders-data {
  margin-top: 10px;
  width: 95%;
}

.modal-update {
  position: fixed;
  height: 100px;
  top: 35%;
  left: 10%;
  border: solid 2px black;
  background-color: lightgray;
  display: flex;
}

.modal-update div {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}
